# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
# typescript
*.tsbuildinfo

# The process file contains some of the processes that I decided to use for this 
# particular project.
/Processes.txt

# ignore the api.calls.rest file
/api/api.calls.rest

# ignore the eas.json file
/eas.json

# ignore the google-service-file
google-services.json

tip.txt